body {
  padding: 2rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

pre {
  max-width: 100%;
  white-space: pre-wrap;
}