<a href="https://raygun.com">
  <svg width="170" height="40" viewBox="0 0 170 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M23.0848 8.81499C23.0848 8.81499 15.7216 4.938 6.06982 8.51676L8.55739 11.2008L6.16933 12.4932L9.2539 16.0719L23.0848 8.81499Z"
      fill="#F4DB12" />
    <path
      d="M29.9502 16.0719V18.6566V20.4459V23.0306C29.9502 23.0306 31.9402 20.4459 35.9203 20.4459V18.6566C31.9402 18.6566 29.9502 16.0719 29.9502 16.0719Z"
      fill="#F4DB12" />
    <path
      d="M14.0298 28.7964C14.0298 28.7964 18.9054 30.7846 16.5173 36.5504C16.1193 37.5445 18.9054 38.638 21.2935 37.5445C21.393 37.4451 20.0994 36.7493 20.0994 35.7552C20.0994 35.1587 21.2935 30.8841 21.2935 30.8841L14.0298 28.7964Z"
      fill="#DF282B" />
    <path
      d="M21.1941 37.4451C21.1941 37.4451 17.214 35.5563 19.9006 30.3869C22.4876 25.5159 23.9802 31.381 23.9802 31.381C23.9802 31.381 19.9006 34.4628 21.1941 37.4451Z"
      fill="#D3D2D3" />
    <path
      d="M37.5125 21.9371C38.8863 21.9371 40 20.8244 40 19.4519C40 18.0793 38.8863 16.9666 37.5125 16.9666C36.1386 16.9666 35.0249 18.0793 35.0249 19.4519C35.0249 20.8244 36.1386 21.9371 37.5125 21.9371Z"
      fill="#C02123" />
    <path
      d="M28.2586 8.11912C27.6616 8.11912 27.0646 8.01971 26.4676 8.01971C16.0198 8.01971 8.55713 12.1949 8.55713 19.9489C8.55713 27.7029 16.0198 31.8781 26.4676 31.8781C27.0646 31.8781 27.6616 31.8781 28.2586 31.7787V8.11912Z"
      fill="#DF282B" />
    <path
      d="M8.55713 19.9489C8.55713 27.7029 16.0198 31.8781 26.3681 31.8781C26.9651 31.8781 27.5621 31.8781 28.1591 31.7787V20.0483"
      fill="#C02123" />
    <path
      d="M19.0102 26.0129C22.3074 26.0129 24.9803 23.3424 24.9803 20.0483C24.9803 16.7541 22.3074 14.0837 19.0102 14.0837C15.713 14.0837 13.04 16.7541 13.04 20.0483C13.04 23.3424 15.713 26.0129 19.0102 26.0129Z"
      fill="#DF282B" />
    <path
      d="M19.5076 14.2826C22.4927 14.2826 24.9802 16.8672 24.9802 19.9489C24.9802 23.0307 22.4927 25.6153 19.5076 25.6153C16.5225 25.6153 14.035 23.1301 14.035 19.9489C14.035 16.7678 16.5225 14.2826 19.5076 14.2826ZM19.5076 12.2944C15.428 12.2944 12.0449 15.7737 12.0449 19.9489C12.0449 24.2236 15.428 27.6035 19.5076 27.6035C23.5872 27.6035 26.9703 24.2236 26.9703 19.9489C26.9703 15.7737 23.5872 12.2944 19.5076 12.2944Z"
      fill="#F4DB12" />
    <path
      d="M22.6466 19.4929L20.1579 19.0849L21.1317 13.9843L17.02 20.5131L19.5087 20.9211L18.4267 26.3277L22.6466 19.4929Z"
      fill="white" />
    <path
      d="M13.9353 16.0719C13.9353 16.0719 7.46766 17.1654 4.28358 20.5454L7.46766 21.6389C7.46766 21.6389 3.18906 22.7324 1 25.0188C1 25.0188 8.46269 21.6389 14.9303 25.0188L12.5423 21.8377L12.9403 21.0424L12.3433 20.0483L13.9353 16.0719Z"
      fill="#F4DB12" />
    <path
      d="M28.2588 31.7787C29.3533 31.6793 30.3483 31.5799 31.3434 31.4805V8.51674C30.3483 8.31792 29.2538 8.21851 28.2588 8.21851V31.7787Z"
      fill="#D3D2D3" />
    <path
      d="M39.9005 18.756C39.602 17.7619 38.607 16.9666 37.5125 16.9666C36.1194 16.9666 35.0249 18.0601 35.0249 19.4519C35.0249 19.7501 35.1244 20.0483 35.2239 20.3466C35.7214 20.7442 36.4179 21.0424 37.1145 21.0424C38.408 21.0424 39.5025 20.0483 39.9005 18.756Z"
      fill="#DF282B" />
    <path
      d="M66.418 14.96C66.418 10.24 63.3598 8 57.0018 8C54.4264 8 51.9315 8.16 50.4829 8.24C50.4829 8.24 50 8.32 50 8.8V31.5199C50 31.5199 50 31.9999 50.4829 31.9999H54.2655C54.2655 31.9999 54.7483 31.9999 54.7483 31.5199V22.8799C54.7483 22.8799 54.7483 22.3999 55.2312 22.3999H57.4042C57.4042 22.3999 57.8871 22.3999 58.048 22.7999L62.0721 31.5199C62.0721 31.5199 62.233 31.9199 62.7159 31.9199H66.9009C66.9009 31.9199 67.3838 31.9199 67.1423 31.5199L62.233 21.5999C62.233 21.5999 61.9916 21.1999 61.9916 21.1199C61.9916 21.1199 61.9916 21.1199 62.394 20.9599C64.567 20.3999 66.418 18.08 66.418 14.96ZM61.5892 15.2C61.5892 17.44 59.8991 18.7999 57.4042 18.7999H55.1508C55.1508 18.7999 54.6679 18.7999 54.6679 18.32V12.24C54.6679 12.24 54.6679 11.76 54.9898 11.76C55.3117 11.76 56.1165 11.68 57.3237 11.68C59.9796 11.68 61.5892 12.56 61.5892 15.2Z"
      fill="#062A47" />
    <path
      d="M168.789 31.8366C168.789 31.8366 169.272 31.8366 169.272 31.3468V8.48979C169.272 8.48979 169.272 8 168.789 8H165.248C165.248 8 164.765 8 164.765 8.48979V17.2244C164.765 17.2244 164.765 17.7142 164.765 18.1224L164.926 24.3265V24.8162C164.926 24.8162 164.926 24.8162 164.685 24.4081C162.351 19.1836 159.132 13.551 156.315 8.48979C156.315 8.48979 156.073 8.08163 155.671 8.08163H151.245C151.245 8.08163 150.762 8.08163 150.762 8.57143V31.5101C150.762 31.5101 150.762 31.9999 151.245 31.9999H154.786C154.786 31.9999 155.269 31.9999 155.269 31.5101V22.2856C155.269 22.2856 155.269 21.7959 155.269 21.3877L155.188 15.1836C155.188 15.1836 155.188 14.6938 155.269 14.6938C155.269 14.6938 155.188 14.6938 155.269 14.6938C155.269 14.6938 155.349 14.6938 155.51 15.102C157.12 18.5306 159.615 23.102 164.121 31.4285C164.121 31.4285 164.363 31.8366 164.765 31.8366H168.789Z"
      fill="#062A47" />
    <path
      d="M137.562 31.9999C144.001 31.9999 146.979 28.4799 146.979 21.5199V8.48C146.979 8.48 146.979 8 146.496 8H142.633C142.633 8 142.15 8 142.15 8.48V22.3999C142.15 26.2399 140.621 28.1599 137.562 28.1599C134.746 28.1599 133.136 25.9999 133.136 22.3999V8.48C133.136 8.48 133.136 8 132.653 8H128.79C128.79 8 128.307 8 128.307 8.48V22.2399C128.468 28.8799 131.768 31.9999 137.562 31.9999Z"
      fill="#062A47" />
    <path
      d="M101.427 8C101.427 8 100.944 8 100.783 8.4L98.5294 13.76L96.5979 19.0399C96.5979 19.0399 96.5979 19.0399 96.4369 18.6399L94.6664 13.76L92.4934 8.4C92.4934 8.4 92.3324 8 91.8496 8H87.2622C87.2622 8 86.7793 8 87.0207 8.4L93.942 22.3199C93.942 22.3199 94.1835 22.7199 94.1835 23.1999V31.5199C94.1835 31.5199 94.1835 31.9999 94.6664 31.9999H98.7709C98.7709 31.9999 99.2538 31.9999 99.2538 31.5199V23.1999C99.2538 23.1999 99.2538 22.7199 99.4952 22.3199L106.497 8.4C106.497 8.4 106.738 8 106.256 8H101.427Z"
      fill="#062A47" />
    <path
      d="M120.904 21.9999C120.904 21.9999 120.421 21.9999 120.421 22.4799V27.4399C120.421 27.4399 120.421 27.9199 120.179 27.9999C119.938 28.0799 119.053 28.2399 118.006 28.2399C113.66 28.2399 110.844 25.1999 110.844 20.0799C110.844 14.8 113.741 12 118.167 12C120.421 12 122.755 12.4 124.203 12.96L124.364 9.59999C124.364 9.59999 124.364 9.11999 123.962 8.96C123.157 8.48 120.823 8 118.248 8C110.602 8 106.095 12.96 106.095 20.1599C106.095 27.1199 109.958 31.9999 117.845 31.9999C120.582 31.9999 123.479 31.3599 124.686 30.9599C124.686 30.9599 125.089 30.7999 125.089 30.3199V22.3999C125.089 22.3999 125.089 21.9199 124.606 21.9199H120.904V21.9999Z"
      fill="#062A47" />
    <path
      d="M68.1073 31.6001C68.1073 31.6001 67.9463 32.0001 68.4292 32.0001H72.5337C72.5337 32.0001 73.0166 32.0001 73.0971 31.6001L75.431 22.4801H70.8436L68.1073 31.6001Z"
      fill="#062A47" />
    <path
      d="M76.7187 17.6001L78.1673 12.0001H78.2478L79.6964 17.6001L80.0184 18.8801H84.7667L81.628 8.48012C81.628 8.48012 81.467 8.00012 81.0646 8.00012H75.7529C75.7529 8.00012 75.27 8.00012 75.1895 8.48012L72.0508 18.8801H76.4772L76.7187 17.6001Z"
      fill="#062A47" />
    <path
      d="M88.63 31.6001L85.8132 22.4801H80.9844L83.3988 31.5201L83.4793 31.7601C83.4793 31.7601 83.5598 32.0001 84.0426 32.0001H88.3081C88.3081 32.0001 88.791 32.0001 88.63 31.6001Z"
      fill="#062A47" />
  </svg>
</a>

<h2 id="title">Ember CLI Raygun Test App</h2>

{{outlet}}